.top-container {
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.nomargin {
    margin: 0;
}

.top-container-item {
    margin: auto;
    display: inline-block;
    width: 30%;
}

.izq {
    float: left;
}

.der {
    float: right;
}

h6 {
    
    padding-right: 5px;
}

.atras {
    color: black;
}

.atras:hover {
    color: black;
}

.imagen {
    width: 150px;
    height: 150px;
    background-color: #aaa8a8;
    border-radius: 50%;
    margin: auto;
}

.m {
    width: 15%;
    margin: 0;
}

.menu-container {
    width: 100%;
}

.productoImagen {
    width: 150px;
    height: 150px;
    background-color: #aaa8a8;
    border-radius: 5px;
}

.row {
    padding: 0 1.5rem;
    margin-top: 2%;
}

.menuItem {
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
    padding: 2px;
}