

.lpleft {
    height: 100vh;
    /* width: 40%; */
    background: #c7e2ff;
    padding-top: 100px;
}

.lpright{
    height: 100vh;
    /* width: 60%;  */
    background: #66acf7;
    padding-top : 20px;
}

#carrito{
    max-width: 100%;
}

.contra {
    height: 100vh;
    padding-top: 50px; 
    background-color: #c7e2ff;
}

.restablece{
    height: 100vh;
    padding-top: 50px; 
    background-color: #c7e2ff;
}

.badg{
    position:absolute;
    bottom: 0;
   padding-left: 100px;
}

/* .ini1{
    padding-left: 250px; 
} */
.ini2{
    padding-left:600px; 
}

/* .ini3{
    text-align: center;
    padding-top: 200px;
} */

